<% layout("/layouts/boilerplate") %>
    <link rel="stylesheet" href="/stylesheets/stars.css">
    <h1>Habilidades</h1>
    <ul class=" list-group mb-3">
        <li class="list-group-item">
            <a href="https://monkeytype.com/profile/ftomasi">Monkeytype</a>
            <p class="starability-result" data-rating="4"></p>
        </li>
        <li class="list-group-item">
            <a href="https://github.com/fabriziotomasi" target="_blank">Github</a>
        </li>
        <li class="list-group-item">
            <a href="https://www.udemy.com/user/fabrizio-tomasi-2/" target="_blank">Udemy</a>
        </li>
    </ul>
    <a href="/">Volver</a>