<% layout("/layouts/boilerplate") %>
<h1>Contacto</h1>
<ul class="list-group mb-3">
  <li class="list-group-item">+598 95 016 009</li>
  <li class="list-group-item">
    <a href="mailto:f.tomasi.magnani@gmail.com">f.tomasi.magnani@gmail.com</a>
  </li>
  <li class="list-group-item">
    <a href="https://www.linkedin.com/in/f-tomasi/">Linkedin</a>
  </li>
  <li class="list-group-item">
    <a href="https://github.com/fabriziotomasi">Github</a>
  </li>
  <li class="list-group-item">Udemy</li>
</ul>
<a href="http://localhost:3000/">Volver</a>
