<% layout("/layouts/boilerplate") %>
  <h1>Contacto</h1>
  <ul class="list-group mb-3">

    <li class="list-group-item">
      <a href="https://wa.me/+59895016009">+598 95 016 009</a>
    </li>

    <li class="list-group-item">
      <a href="mailto:f.tomasi.magnani@gmail.com">f.tomasi.magnani@gmail.com</a>
    </li>

    <li class="list-group-item">
      <a href="https://www.linkedin.com/in/f-tomasi/" target="_blank">Linkedin</a>
    </li>

    <li class="list-group-item">
      <a href="https://github.com/fabriziotomasi" target="_blank">Github</a>
    </li>

  </ul>
  <a href="/">Volver</a>