<% layout("/layouts/boilerplate") %>
    <h1 class="mb-3">Sobre Mi</h1>
    <p class="lead class=" mb-3"">Estoy en busca de una nueva oportunidad laboral que me brinde nuevos
        desafíos y metas, y que me permita crecer tanto personal como
        profesionalmente. Estoy ansioso por sumarme a una empresa dinámica y en
        constante crecimiento que ofrezca posibilidades de desarrollo y aprendizaje, y
        que me permita contribuir activamente con mis habilidades y experiencia para
        alcanzar los objetivos de la organización.</p>
    <p class="lead mb-3">Como profesional, me distingo por mi enfoque organizado y meticuloso en
        todas mis actividades laborales. Mi capacidad para establecer relaciones
        efectivas y manejar la inteligencia emocional me permite desempeñarme con
        eficacia tanto de manera individual como en equipo. Poseo una innata pasión
        por el aprendizaje y la enseñanza, lo que se traduce en mi habilidad para
        adquirir nuevos conocimientos y comunicarlos de forma clara y comprensible.</p>
    <p class="lead mb-3">Con más de dos décadas de experiencia en roles administrativos, he construido
        una sólida trayectoria en áreas fundamentales como gestión de inventarios,
        presupuestos, compras y facturación.
        Estas responsabilidades me han brindado la oportunidad de desarrollar
        habilidades valiosas, tales como la resolución de problemas, la gestión eficiente
        del tiempo y la toma de decisiones fundamentadas.</p>