<% layout("/layouts/boilerplate") %>
    <h1>Fabrizio Tomasi</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni commodi soluta accusantium fugiat,
        laborum dolorem magnam corrupti laboriosam quibusdam ab maiores recusandae inventore quo, possimus, tempore ex
        eum assumenda quia?</p>