<% layout("/layouts/boilerplate") %>
    <h1>Fabrizio Tomasi</h1>
    <p>Soy un programador autodidacta en formación en busca de nuevas oportunidades.

        Como autodidacta apasionado, he adquirido conocimientos básicos en HTML, CSS, JavaScript, MongoDB, SQL y Git.
        Estoy en constante aprendizaje y me encanta sumergirme en nuevos desafíos para mejorar mis habilidades de
        programación.

        Aunque todavía estoy en proceso de formación, estoy emocionado por enfrentar proyectos y desarrollar soluciones
        a través del código. Mi enfoque es aprender y crecer constantemente en este apasionante campo.

        Mi objetivo principal es adquirir experiencia práctica y seguir ampliando mis habilidades en el desarrollo web y
        el manejo de bases de datos.

        Estoy entusiasmado por trabajar en colaboración con equipos multidisciplinarios y contribuir al éxito de los
        proyectos.

        ¡Explora mi portafolio para conocer más sobre mis proyectos y habilidades en desarrollo! Si estás interesado en
        trabajar conmigo o tienes alguna oportunidad para colaborar, no dudes en contactarme. Estoy emocionado por las
        posibilidades que
        puedan surgir.</p>