<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nueva Experiencia laboral</title>
  </head>
  <body>
    <form action="/experiencia" method="POST">
      <div>
        <label for="donde">Donde</label>
        <input type="text" id="donde" name="exp[donde]" />
      </div>
      <div>
        <label for="cuando">Cuando</label>
        <input type="text" id="cuando" name="exp[cuando]" />
      </div>
      <button>Agregar</button>
    </form>
  </body>
</html>
