<% layout("/layouts/boilerplate") %>
  <div class="row">
    <h1 class="text-center">Agregar Nueva Experiencia Laboral</h1>
    <div class="col-md-6 offset-md-3">
      <form action="/experiencia" method="POST" novalidate class="validated-form" enctype="multipart/form-data">

        <div class="mb-3">
          <label class="form-label" for="_id">ID</label>
          <input class="form-control" type="text" id="_id" name="exp[_id]" required />
          <div class="valid-feedback">
            Ahora si
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="donde">Donde</label>
          <input class="form-control" type="text" id="donde" name="exp[donde]" required />
          <div class="valid-feedback">
            Ahora si
          </div>
        </div>

        <div class="mb-3">
          <label for="logo" class="form-label">Logo</label>
          <input class="form-control" type="file" id="logo" name="logo" multiple>
        </div>

        <div class="mb-3">
          <label class="form-label" for="cuando">Cuando</label>
          <input class="form-control" type="text" id="cuando" name="exp[cuando]" required />
          <div class="valid-feedback">
            Ahora si
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="haciendoQue">Descripcion del Cargo</label>
          <textarea class="form-control" type="text" id="haciendoQue" name="exp[haciendoQue]" required /></textarea>
          <div class="valid-feedback">
            Ahora si
          </div>
        </div>

        <div class="mb-3">
          <button class="btn btn-success">Agregar</button>
        </div>
      </form>

      <a href="/experiencia">Volver</a>
    </div>
  </div>